{% extends 'base.html'%} {% load humanize %} {% block content%}
<h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">Tickets en cours</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit illum,
    voluptatem doloremque hic nisi ipsum eum, fuga possimus perspiciatis
    expedita, corrupti beatae delectus vero sit molestias nostrum aliquid quae
    magnam?
</p>
<div class="d-flex flex-wrap justify-content-center">
    {% for ticket in tickets %}
    <div
        class="card border-info rounded-4 text-center w-25 p-1 m-4 shadow-lg p-3 mb-5 bg-white rounded"
    >
        <div></div>
        <div class="card-body">
            <p class="card-text text-muted">
                <small>
                    # ticket
                    <br>
                    <i>
                        {{ticket.ticket_number}} 
                    </i>
                </small>
                <h5 class="text-secondary"> <b>{{ticket.title}}</b> </h5>
            </p>
            <p class="card-text text-muted">
                <small> {{ticket.description}} </small>
            </p>
        </div>
        <div class="mb-2">
            <a href="{% url 'ticket-details' ticket.id%}" class="btn btn-outline-info btn-sm">Voir details</a>
            <br>
        
        </div>
        <br />
        <div class="card-footer text-muted">
            <small> Created {{ticket.date_created|naturaltime}} </small>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock content%}
