{% extends 'base.html'%} {% block content%}
<h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">Ticket Queue</h1>
<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Ad elit dolor eu
    interdum etiam maecenas quam. Lorem et libero sed interdum libero neque
    primis lectus. Nunc hac in volutpat taciti vitae taciti. Class penatibus est
    turpis taciti vulputate euismod curabitur quam sed. Augue leo amet lacinia
    lobortis lectus, felis cubilia vehicula. Sit mi quis, montes primis donec
    finibus. Ultrices mi litora habitant; massa arcu facilisis. Dapibus donec
    sagittis auctor sollicitudin pulvinar, augue vestibulum eget.
    <br /><br />
</p>
<div>
    <div class="card shadow-lg p-3 mb-5">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center text-secondary">
                        <th scope="col"># Ticket id</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Créé le</th>
                        <th scope="col">Assigné à</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for ticket in tickets %}
                <tbody>
                    <tr>
                        <!-- <th scope="row">1</th> -->
                        <td class="text-center">
                            <small>
                                <a href="{% url 'ticket-details' ticket.id %}">
                                    {{ticket.ticket_number}}
                                </a>
                            </small>
                        </td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.date_created}}</td>
                        {% if ticket.assigned_to %}
                        <td>{{ticket.assigned_to}}</td>
                        {% else %}
                        <td>None</td>
                        {% endif %}
                        <td>{{ticket.ticket_status}}</td>
                        <td class="text-center">
                            <a>
                                <button
                                    class="btn btn-sm btn-outline-primary rounded-4"
                                >
                                    Accept
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<small class="text-muted"
    >Click sur les liens du Ticket id pour oir les détails...</small
>
{%endblock content%}
