{% extends 'base.html'%} {% block content%}
<h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">Ticket Queue</h1>
<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Ad elit dolor eu
    interdum etiam maecenas quam. Lorem et libero sed interdum libero neque
    primis lectus. Nunc hac in volutpat taciti vitae taciti. Class penatibus est
    turpis taciti vulputate euismod curabitur quam sed. Augue leo amet lacinia
    lobortis lectus, felis cubilia vehicula. Sit mi quis, montes primis donec
    finibus. Ultrices mi litora habitant; massa arcu facilisis. Dapibus donec
    sagittis auctor sollicitudin pulvinar, augue vestibulum eget.
    <br /><br />
</p>
<div>
    <div class="card shadow-lg p-2 mb-5">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center text-secondary">
                        <th scope="col"># Ticket id</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Crée par</th>
                        <th scope="col">Date création</th>
                        <th scope="col">Assigné à</th>
                        <th scope="col">Terminé</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for ticket in tickets %}
                <tbody>
                    <tr>
                        <!-- <th scope="row">1</th> -->
                        {% if ticket.ticket_status == 'Pending'%}
                        <td class="text-center">
                            <small>
                                <a href="{% url 'ticket-details' ticket.id %}">
                                    {{ticket.ticket_number}}
                                </a>
                            </small>
                        </td>
                        {% else %}
                        <td class="text-center">
                            <small>
                                <p class="text-muted">
                                    {{ticket.ticket_number}}
                                </p>
                            </small>
                        </td>

                        {% endif%}
                        <td>
                            <small>
                                {{ticket.title}}
                            </small>
                        </td>
                        <td>
                            <small>
                                {{ticket.created_by}}
                            </small>
                        </td>
                        <td class="text-center">
                            <small>
                                {{ticket.date_created}}</td>
                            </small>
                        {% if ticket.assigned_to %}
                        <td class="text-center">
                            <small>
                                {{ticket.assigned_to}}</td>
                            </small>
                        {% else %}
                        <td class="text-center">
                            <small>
                                None
                            </small>    
                        </td>
                        {% endif %}
                        <td class="text-center">
                            <small>        
                                
                                {% if ticket.is_resolved %}
                                <small>Oui</small>
                                {% else %}
                                <small>Non</small>
                                {% endif %}
                            </small>
                        </td>
                        <td class="text-center">
                            {% if ticket.ticket_status == 'Pending' %}
                            <a href="{% url 'accept-ticket' ticket.id %}">

                                <button type="button" class="btn btn-sm btn-primary rounded-4">
                                     <span class="badge badge-light">A traiter</span>
                                  </button>
                               
                            </a>
                            {% elif ticket.ticket_status == 'Active' %}
                            <button type="button" class="disabled btn btn-sm btn-success rounded-4">
                                <span class="badge badge-light">En cours</span>
                             </button>
                            {% else %}
                            <button type="button" class="disabled btn btn-sm btn-danger rounded-4">
                                <span class="badge badge-light">Clôturé</span>
                             </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<small class="text-muted"
    >Click sur les liens du Ticket id pour oir les détails...</small
>
{%endblock content%}
