{% extends 'base.html'%} {%block content%}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 fw-bold lh-1 text-secondary">
            <b>Page d'Accueil</b>
        </h1>

        <p class="lead mt-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius autem
            maiores accusamus debitis expedita, explicabo qui dolores mollitia
            voluptatem, cum quis sed pariatur perspiciatis obcaecati neque amet
            quibusdam et deserunt. Ut sunt quisquam ullam, incidunt similique
            blanditiis! Rerum rem consequuntur eum magni error fugit tempore
            iusto, ex accusantium, consectetur ipsum iure, voluptatibus
            quibusdam labore nemo architecto quam voluptatem corrupti
            distinctio! Consequuntur commodi beatae, eius aspernatur autem
            ducimus a ad nobis ullam distinctio ab temporibus sint, sit minima
            inventore quasi doloribus omnis earum officia consequatur ipsa.
            Repellat quam animi iste ducimus!
        </p>
        <hr class="my-4" />
        <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius rem
            optio, blanditiis impedit explicabo nam, eum ab deserunt suscipit
            non voluptatibus et tenetur! Esse, alias quam fugit sed illum
            necessitatibus...
        </p>
        <br />
        <p class="lead">
            <a
                href="{% url 'create-ticket' %}"
                class="btn btn-outline-warning"
                role="button"
                >Faire une réclamation</a
            >
        </p>
    </div>
</div>
{%endblock content%} P
